@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: black;
}
/* navbar styles starts here */
header{
    background:linear-gradient(rgb(17, 17, 17),rgba(119, 119, 119, .35),rgb(0, 0, 0)) ;
}
.nav-bar{
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 52px;
  margin-bottom: 32px;
  

}
.nav-item{
    display: flex;
    color: white;
    text-decoration: none;
    list-style-type: none;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 39px; 
    font-size: 18px;
    padding: 4px;
    align-items: center;
     
}
.home-btn{
    background: rgb(230, 83, 60);
    border-radius: 46px;
    width: 92px;
    height: 38px;
    text-align: center;
    padding-top: 8px;
}
.hamberg-menu{
    color: white;
    display: none;
}
.brand{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;

}
/* navbar styles ends here */

/* Banner style stars here */
.banner{
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 100px;
   
}
.banner-title{
    color: white;
    font-size: 78px;
    font-weight: 900;
    
}
.span{
    font-family: miama;
    font-weight: 400;
}
.banner-sub-title{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: 0.5px;
}
.btn-primary{
    display: flex;
    gap: 14px;

}
.btn-responsive{
    display: none;
}
.btn{
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
   
}
.btn-1{
    background: rgb(230, 83, 60);
    border-style: none;
}
.btn-2{
    background-color: black;
    border: 1px solid white;
}
.banner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    
}
.banner-description{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.b-sub-title{
    padding-top: 28px;
    padding-bottom: 28px;
}
.banner-sub-container{
    position: relative;
}

.des-1{
    width: 12rem;
    height: 6rem;
    position: absolute;
    top: 140px;
    left: 230px;
    box-sizing: border-box;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 12px;
   backdrop-filter: blur(20px);
   background: rgba(255, 255, 255, 0.1); 
   padding-top: 10px;
   text-align: center;
}

.des-2{
    color: white;
    display: flex;
    align-items: end;
    width: 12rem;
    height: 6rem;;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    position:absolute;
    top: 70%;
    left: -23%;  
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    
   }
   .banner-title-1{
        font-size: 48px;
        font-weight: 900;
        color: white;  
   }
   .banner-sub-title-1{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.65);
   }
   .banner-title-2{
    font-size: 24px;
    font-weight: 900;
    color: white;  
}
.banner-sub-title-2{
font-size: 16px;
color: rgba(255, 255, 255, 0.65);
}
.img-1 img{
width: 40px;
height: 40px;
align-items:center ;
}

/* banner styles ends here */

/* Habit styles starts here */
.habits{
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.habit-title{
    color: white;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 14px;

}
.habit-subtitle{
  font-size: 14px;
  color: white;
  opacity: 0.5;

}
.habit-description{
    text-align: center;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 54px;
}
.habit-title-2{
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding-top: 30px;
    padding-bottom: 6px;
}
.habit-sub-title-2{
    font-size: 14px;
    color: white;
    opacity: 0.5;
}
.habit-img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.habit-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
}
.habit-sub-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* habit styles ends here */

/* run-extra styles starts here */

.run-extra{
    max-width: 1060px;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}
.run-img-responsive{
    display: none;
}
.run-extra-img{
    height: 312px;
    width: 366px;
    border-radius: 18px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
}
.run-extra-img img{
    width: 100%;
    border-radius: 18px;
}
.run-extra-description{
    width: 36%;
  
}
.habit-padding{
    padding-bottom: 34px;
}
.btn-3{
    background: rgb(230, 83, 60);
    border-style: none;
    width: 224px;
}


/* run-extra styles ends here */

/* BMI styles stats here */
.b-description{
    max-width: 671px;
    margin: 0 auto;
    margin-bottom: 88px;
}
.bmi-container{
    width: 100%;
   
    background-color: rgb(34, 34, 34);
    margin-bottom: 88px;
}
.bmi-content{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px 24px;
    text-align: left;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
 
}
 th{
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.bmi-title{
    color: white;
    font-size: 28px;
    font-weight: 900;
    margin-top: 52px;
    margin-bottom: 52px;
}
.sub-title{
    font-size: 28px;
    font-weight: 900;
    color: white;
    margin-bottom: 14px;
}
.bmi-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bmi-form{
    width: 47%;
    margin-top: 10px;
}
.bmi-form input,select{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
   
    padding: 15px 40px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: none;

}
.bmi-form-area{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.content-2{
    max-width: 577px;
  margin-top: 49px;
  margin-bottom: 52px;
}
.btn-4{
    background: rgb(230, 83, 60);
    border-style: none;
}
/*  BMI styles ends here */

/* <!-- Our team styles starts here --> */

.Our-team-description{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
    text-align: center;
}
.our-team-container{
    max-width: 1060px;
    margin: 0 auto;
}
.team-title{
font-size: 24px;
font-weight: 800;
color: white;
}
.team-sub-title{
font-size: 16px;
font-weight: 600px;
color: darkgray;
}
.trainer-img{
    width: 326px;
    height: 272px;
   
    border-radius: 16px;

   
}
.trainer-img img{
    width: 100%;
   
}
.team-content{
    display: flex;
    flex-direction: column;
    position: relative;
 
    
}
.team-1{
    position: absolute;
    top: 80%;
    left: 20px; 
     
   

}
.our-team-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgba(255, 255, 255, 0.1);
   justify-items: center;
   border-radius: 18px;
   padding: 20px;
   gap: 20px;
}
/* <!-- Our team styles ends here --> */

/* footer styles starts here */

.my-footer-section{
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 100%;
    margin-top: 88px;
    padding-bottom: 66px;
}

.footer-text-container{
    width: 1060px;
    margin: 0 auto;
    padding: 66px 0px;
    display: flex;
    justify-content: space-between;
}

.footer-brand-content{
    width:45%;
}

.footer-brand-content h2{
    font-size: 60px;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
    margin-bottom: 20px;
  }

.footer-brand-content p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.get-start-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.get-start-box h3{
    font-size: 32px;
    font-weight: 700;
    color:rgb(255, 255, 255);
    margin-bottom: 35px;
}

.get-start-box ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px; 
}
.get-start-box ul li:last-child{
    margin-bottom: 0;
}
.copy-right{
    width: 1060px;
    margin: 0 auto;
    text-align: center;
}

.copy-right .drowline{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 36px;
}
.copy-right p{
    color: rgba(255, 255, 255, 0.5);
}

/* Footer styles ends here */
